/* TO DO: improve the draw and code */

.accessories__axe {
    margin: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(25deg);
}

.filo-der-cabeza {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

.filo-der-cabeza::before {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 100px;
    height: 200px;
    background-color: lightgray;
    border: 1px solid;
}

.filo-izq-cabeza {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

.filo-izq-cabeza::before {
    content: '';
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 50px;
    height: 100px;
    background-color: lightgray;
    border: 1px solid;
}

.cabeza {
    display: flex;
    align-items: center;
}

.centro-cabeza {
    width: 70px;
    height: 80px;
    background-color: lightgray;
    border: 1px solid;
}

.mango {
    width: 50px;
    height: 200px;
    background-color: gray;
    border: 1px solid;
    border-top: none;
}