*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  --main-red: red;
  --main-yellow: yellow;
  --main-green: green;
  --width-desktop: 60rem;
  --height-desktop: 52rem;
  --width-tablet: 30rem;
  --height-tablet: 26rem;
  /* 
  Breakpoints
  mobile: 576px,
  tablet: 768px,
  desktop: 1024px, 
  */
}

html {
  font-size: 62.5%;
}

.grid {
  height: var(--height-desktop);
  width: var(--width-desktop);
  opacity: 1rem;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

.square {
  border: 1px solid rgba(5, 5, 5, 0.2);
}

@media (max-width: 768px) {
  .grid{
    height: var(--height-tablet);
    width: var(--width-tablet);
  }
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.arms{
  background-color: blue;
  opacity: 0.2;
  height: var(--height-desktop);
  width: var(--width-desktop);
  position: relative;

}

.crown{
  background-color: green;
  width: 20rem;
  height: 16rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
}

.condor{
  background-color: black;
  width: 28rem;
  height: 16rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 4rem;
  text-align: center;
  position: absolute;
}

@media (max-width: 768px) {
  .arms{
    height: var(--height-tablet);
    width: var(--width-tablet);
    background-color: purple;
  }
}